<div class="w3-padding-64 w3-container">
  <div class="container">
    <div class="modal-dialog login animated">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-footer">
            <div class="forgot register-footer" >
              <span>{{this.fullname}} </span>
              <span>Enregistrement OK </span>
              <a routerLink="/register-success"> se connecter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
